html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}



body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    min-height: 260vh;
    background: url(images/city.jpg) no-repeat center fixed;
    background-size: cover;
    flex: 1;
    
    
}

.logo {
    font-family: helvetica, arial, sans-serif;
    font-size: 42px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.801);
    font-style: italic;
    background-color: rgba(0, 92, 2, 0.712);
    padding: 0px 8px 2px 2px ;
    border-radius: 6px;
    box-shadow: 8px 8px 4px;

}

a {
    color: whitesmoke;
    text-decoration: none; 
    background-color: rgba(22, 22, 22, 0.989);
    padding: 10px; 
    transform: skewX(-20deg); 
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-family: helvetica, arial, sans-serif; 
}

a:hover {
    color: rgba(0, 92, 2, 0.712);

}

.header {
    align-self: stretch;
    box-shadow: 8px 8px 12px;
    
}

header {
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    padding: 18px;
    align-items: center;
    margin: 0;
    box-shadow: 8px 8px 12px;
   
}

.links {
    display: flex;
    gap: 22px;
    font-weight: 600;
    font-size: 14px;
    padding: 0
}

.desc {
    font-size: 62px;
    text-align: center;
    background-color: rgba(22, 22, 22, 0.989);
    padding: 0px 8px 4px 8px;
    margin: 40px;
    box-shadow: 4px 4px 12px rgb(0, 0, 0);
}

.sub-desc {
    font-size: 22px;
    text-align: center;
    padding: 24px;
    font-weight: 600;
    margin: 0;

}

.intro{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-size: cover;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
    
}

button {
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 4px;
    box-shadow: 4px 4px 12px rgb(0, 0, 0);
}



.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: antiquewhite;
    align-self: stretch;
    box-shadow: 4px 4px 12px, -4px -4px 12px;
    

}

.icons {
    display: flex;
    margin: 12px;
    gap: 18px;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
}

img {
    width: auto;
    height: 190px;
    border-radius: 12px;
    border: 10px solid whitesmoke;
    box-shadow: 4px 4px 12px, -4px -4px 12px;
}

.info {
    font-size: 42px;
    color: whitesmoke;
    background-color: rgba(22, 22, 22, 0.989);
    padding: 0px 8px 4px 8px;
    margin: 40px;
    box-shadow: 4px 4px 12px rgb(0, 0, 0);
    align-self: center;
    
}

.phrase {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    
}

.foot {
    display: flex;
    flex: 1;
    background: url(images/metro.jpg) no-repeat center center fixed;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    width: 100%;    
}

.join {
    display: flex;
    align-self: center;
    background-color: rgb(22, 113, 1);
    gap: 28px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgb(0, 0, 0);
    margin-top: 100px;
    


}

.phrase {
    width: 400px;
    align-self: center;
    font-size: 34px;
    margin: 0px;
}

.phrase > p:nth-child(2) {
    margin: 0px;
    align-self: end;
}



.text > p, h3 {
    margin: 2px;
    color: whitesmoke;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: antiquewhite;
    box-shadow: -4px -4px 12px;

}

.footer > p {
    color: whitesmoke;
    background-color: rgba(22, 22, 22, 0.989);
    padding: 4px 8px 4px 8px;
    box-shadow: 4px 4px 12px rgb(0, 0, 0);
    align-self: center;
}

.one > p, .two > p, .three > p, .four > p {
    background-color: rgba(22, 22, 22, 0.989);
    padding: px 0px 0px 8px;
    margin: 20px;
    box-shadow: 4px 4px 12px rgb(0, 0, 0);
    align-self: center;
    color: whitesmoke;
}
